#controlPanel {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 999;
    background: rgba(249, 249, 249, 0.95);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    font-family: Arial, sans-serif;
    width: 280px;
    max-height: 90vh;
    overflow-y: auto;
}

h3 { 
    margin-bottom: 8px; 
    color: #333; 
    font-size:1.1rem; 
}

fieldset {
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 8px;
    margin-bottom: 8px;
}

input {
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 0.9rem;
    margin-bottom: 4px;
}

button {
    background-color: #800080;
    color: #fff;
    border: none;
    padding: 4px 8px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
}

button:hover { 
    background-color: #FFA500; 
}

.hidden { display: none; }
